
<p> Hi,  <%= @name%></p>
<p><b>
Your Order is Confirmed.</b></p>
<p>Thanks for giving us the opportunity.</p>

<p>Your Personal Information</p>
<p>Order Number : <%= @random_number%></p>
<p>Traveller 1</p><br />
<p>First Name : <%= @first_name1%></p>
<p>Last  Name : <%= @last_name1%></p>
<p>Mobile No : <%= @mobile_no1%></p>
<p>Email : <%= @email1%></p>
<br />

<p>Traveller 2</p><br />
<p>First Name : <%= @first_name2%></p>
<p>Last  Name : <%= @last_name2%></p>



<p>Thanks</p>
<p>Oasis Team</p>