<header id="top">
	<div class="header-a">
		<div class="wrapper-padding">			
			<div class="header-phone"><span>1 - 555 - 555 - 555</span></div>
			
			   <% if user_signed_in?%>
			   <div class="header-phone">
                <b> <label ><%= link_to current_user.try(:name), "#", style: "color: aqua;    font-size: 174%;"%>
                 <%= link_to 'Logout', destroy_user_session_path, :method=>'delete', class: "glyphicon glyphicon-log-out", style: "color: aqua;    font-size: 174%;"%>
                 </label></b></div>
			   <%else%>
			   <div class="header-account">
			     <a href="#">My account</a></div>
			   <%end%>
				
			
			<div class="header-social">
				<a href="#" class="social-twitter"></a>
				<a href="#" class="social-facebook"></a>
				<a href="#" class="social-vimeo"></a>
				<a href="#" class="social-pinterest"></a>
				<a href="#" class="social-instagram"></a>
			</div>
			<div class="header-viewed">
				<a href="#" class="header-viewed-btn">recently viewed</a>
				<!-- // viewed drop // -->
					<div class="viewed-drop">
						<div class="viewed-drop-a">
							<!-- // -->
							<div class="viewed-item">
								<div class="viewed-item-l">
									<a href="#"><img alt="" src="/assets/v-item-01.jpg" /></a>
								</div>
								<div class="viewed-item-r">
									<div class="viewed-item-lbl"><a href="#">Andrassy Thai Hotel</a></div>
									<div class="viewed-item-cat">location: thailand</div>
									<div class="viewed-price">152$</div>
								</div>
								<div class="clear"></div>
							</div>
							<!-- \\ -->
							<!-- // -->
							<div class="viewed-item">
								<div class="viewed-item-l">
									<a href="#"><img alt="" src="/assets/v-item-02.jpg" /></a>
								</div>
								<div class="viewed-item-r">
									<div class="viewed-item-lbl"><a href="#">Ermin's Hotel</a></div>
									<div class="viewed-item-cat">location: dubai</div>
									<div class="viewed-price">300$</div>
								</div>
								<div class="clear"></div>
							</div>
							<!-- \\ -->
							<!-- // -->
							<div class="viewed-item">
								<div class="viewed-item-l">
									<a href="#"><img alt="" src="/assets/v-item-03.jpg" /></a>
								</div>
								<div class="viewed-item-r">
									<div class="viewed-item-lbl"><a href="#">Best Western Hotel Reither</a></div>
									<div class="viewed-item-cat">location: berlin</div>
									<div class="viewed-price">2300$</div>
								</div>
								<div class="clear"></div>
							</div>
							<!-- \\ -->
						</div>
					</div>
				<!-- \\ viewed drop \\ -->
			</div>
			<div class="header-lang">
				<a href="#"><img alt="" src="/assets/en.gif" /></a>
				<div class="langs-drop">
					<div><a href="#" class="langs-item en">english</a></div>
					<div><a href="#" class="langs-item fr">francais</a></div>
					<div><a href="#" class="langs-item de">deutsch</a></div>
					<div><a href="#" class="langs-item it">italiano</a></div>
				</div>
			</div>
			<div class="header-curency">
				<a href="#">USD</a>
				<div class="curency-drop">
					<div><a href="#">usd</a></div>
					<div><a href="#">Eur</a></div>
					<div><a href="#">GBR</a></div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="header-b">
		<!-- // mobile menu // -->
			<div class="mobile-menu">
				<nav>
					<ul>
						<li>   <%=link_to "Home ",root_path %> </li>

						<li><a class="has-child" href="#">Destination</a>
						<!-- < %=link_to "Destination",get_destination_path %> -->
						   <ul>
                                <li><%=link_to "India",get_destination_path %> </li>
                                 <li class="title menu-item menu-item-type-post_type menu-item-object-page"> <a class= "has-child" href="#">South America TOur</a></li>
                                 <li class="title menu-item menu-item-type-post_type menu-item-object-page"> <a class= "has-child"  href="#">Asia Tour</a></li>
                                 <li class="title menu-item menu-item-type-post_type menu-item-object-page"> <a class= "has-child"  href="#">Africa Tour</a></li>
                                  <li class="title menu-item menu-item-type-post_type menu-item-object-page"> <a class= "has-child"  href="#">Other Tour</a></li>
                                </ul> 
						</li>						
						<li><a class="has-child" href="#">Be Suprised</a>
							<ul>
								<li><a href="flight_round_trip.html">Special Deal</a></li>
								<li><a href="flight_one_way.html">Monsoon Deal</a></li>
								<li><a href="flight_alternative.html">Summer Deal</a></li>
								<li><a href="flight_detail.html">Top Seller</a></li>
								<li><a href="flight_booking.html">Handpicked Tour</a></li>
								
							</ul>
						</li>
						<li><a class="has-child" href="#">Ticketing</a>
							<ul>
								<li><a href="tour_alternative.html">Air</a></li>
								<li><a href="tour_grid.html">Bus</a></li>
								<li><a href="tour_simple.html">Train</a></li>
								<li><a href="tour_detail.html">Cruise</a></li>
								
							</ul>
						</li>						
						<li><a class="has-child" href="#">Just Hotel</a>
							<ul>
								<li><a href="about_us.html">Explore By Countries/Cities</a></li>
								
								<li><a href="services.html">Category</a></li>
							
							</ul>
						</li>
						<li><a class="has-child" href="#">Piligrim</a>
							<ul>
								<li><a href="portfolio_three_collumns.html">Portfolio three columns</a></li>
								<li><a href="portfolio_four_collumns.html">portfolio four columns</a></li>
								<li><a href="item_page.html">item page</a></li>
								<li><a href="item_page_full_width.html">Item page full width style</a></li>
							</ul>
						</li>
						<li><a class="has-child" href="#">Blog</a>
							<ul>
								<li><a href="blog_with_sidebar.html">Blog with sidebar</a></li>
								<li><a href="blog_masonry.html">blog masonry style</a></li>
								<li><a href="standart_blog_post.html">Blog post example</a></li>
							</ul>
						</li>
						<li><a class="has-child" href="#">Features</a>
							<ul>
								<li><a href="typography.html">typography</a></li>
								<li><a href="shortcodes.html">shortcodes</a></li>
								<li><a href="interactive_elements.html">interactive elements</a></li>
								<li><a href="cover_galleries.html">cover galleries</a></li>
								<li><a href="columns.html">columns</a></li>
							</ul>
						</li>						
						<li> <%=link_to "CONTACS",get_contact_path %></li>
						<li><a id="trip_button" class="has-child" href="#">Plan Your Trip</a></li>
					</ul>
				</nav>	
			</div>
		<!-- \\ mobile menu \\ -->
			
		<div class="wrapper-padding">
			<div class="header-logo">
              <%=link_to (image_tag("/assets/tour_travel.jpg")),root_path %> 
			
			<div class="header-right" style="margin-top: auto;">
				<div class="hdr-srch">
					<a href="#" class="hdr-srch-btn"></a>
				</div>
				<div class="hdr-srch-overlay">
					<div class="hdr-srch-overlay-a">
						<input type="text" value="" placeholder="Start typing...">
						<a href="#" class="srch-close"></a>
						<div class="clear"></div>
					</div>
				</div>	
				<div class="hdr-srch-devider"></div>
				<a href="#" class="menu-btn"></a>
				<nav class="header-nav">
					<ul>
						<li>   <%=link_to "Home",root_path %> </li>

						<li>
						<!-- < #%=link_to "Destination",get_destination_path %> -->
							<!-- <ul>
								<li><a href="hotel_list.html">Explore By Destination</a></li>
								<li><a href="hotel_simple_style.html">View All Destination</a></li>
								
							</ul> -->
                        <a class="has-child" href="#">Destination</a> 
                               <ul>
                                <li><%=link_to "India",get_destination_path %> </li>
                                 <li class="title menu-item menu-item-type-post_type menu-item-object-page"> <a class= "has-child" href="#">South America TOur</a></li>
                                 <li class="title menu-item menu-item-type-post_type menu-item-object-page"> <a class= "has-child"  href="#">Asia Tour</a></li>
                                 <li class="title menu-item menu-item-type-post_type menu-item-object-page"> <a class= "has-child"  href="#">Africa Tour</a></li>
                                  <li class="title menu-item menu-item-type-post_type menu-item-object-page"> <a class= "has-child"  href="#">Other Tour</a></li>
                                </ul> 
                                
                             

						</li>						
						<li><a class="has-child" href="#">Be Suprised</a>
							<ul>
								<li><a href="flight_round_trip.html">Special Deal</a></li>
								<li><a href="flight_one_way.html">Monsoon Deal</a></li>
								<li><a href="flight_alternative.html">Summer Deal</a></li>
								<li><a href="flight_detail.html">Top Seller</a></li>
								<li><a href="flight_booking.html">Handpicked Tour</a></li>
								
							</ul>
						</li>
						<li><a class="has-child" href="#">Ticketing</a>
							<ul>
								<li><a href="tour_alternative.html">Air</a></li>
								<li><a href="tour_grid.html">Bus</a></li>
								<li><a href="tour_simple.html">Train</a></li>
								<li><a href="tour_detail.html">Cruise</a></li>
								
							</ul>
						</li>						
						<li><a class="has-child" href="#">Just Hotel</a>
							<ul>
								<li><a href="about_us.html">Explore By Countries/Cities</a></li>
								
								<li><a href="services.html">Category</a></li>
							
							</ul>
						</li>
						<li><a class="has-child" href="#">Piligrim</a>
							<ul>
								<li><a href="portfolio_three_collumns.html">Portfolio three columns</a></li>
								<li><a href="portfolio_four_collumns.html">portfolio four columns</a></li>
								<li><a href="item_page.html">item page</a></li>
								<li><a href="item_page_full_width.html">Item page full width style</a></li>
							</ul>
						</li>
					
					
							<%if current_user%>
								<li><%= link_to "Upload Document", upload_document_path%></li>
							<%end%> 
					
						<li> <%=link_to "CONTACS",get_contact_path %></li>
						<li><a id="trip_button" class="has-child" href="#">Plan Your Trip</a></li>
					</ul>
				</nav>
			</div>
			<div class="clear"></div>
		</div>
	</div>	
</header>
<script type="text/javascript">
$(document).on('click', '#trip_button', function(e) {
	
  $('html, body').animate({
        scrollTop: $("#trip").offset().top
    }, 2000);
});
</script>